@charset "UTF-8";
h1{
    text-align: center;
}

h2{
    width: 90%;
    margin: auto;
}
.g1{
    width: 200px;
    height: 200px;
    margin: auto;

}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    text-align: center;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
    background-color: chartreuse;
    display: block;
}


.boxA{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.boxB{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    
}

.box1{
    width: 20%;
    padding: 25px;
    margin: 20px;
    background-color: #cccccc;
    text-align: center;
}

p{
    text-align: center;
}