@charset "utf-8";

header{
    display: flex;
    background-color: rgba(250, 250, 250, 0.7);
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

header ul li {
    width: 30%;
    text-align: center;
}

header ul li a {
    display: block;
    padding: 0.5rem;
    color: rgb(108, 2, 2);
    text-decoration: none;
    font-weight: bold;
}


.logo {
    margin-right: auto;
}

.menyu li {
    margin: 0 10px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
  }



  .menyu li a:hover{
    padding-bottom: 5px;
    font-weight: bold;
    position: relative;
    border-bottom: 3px solid white;
}


.img{
    width: 50%;
}

nav{
    width: 70%;
}

nav ul li a {
    width: 100%;
}

